  <div class="row tableAll">
    <div class="col-sm-12">
  <button class="btn btn-default add" ng-click="feedbacks.openAdduibModal()">Add feedback 
  </button>
  <table class="table table-hover">
        <caption>All feedbacks</caption>
        <thead>
            <tr>
                <th>Raiting</th>
                <th>Comment</th>
                <th>Author</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            </thead>
            <tbody>
            <tr class="active" ng-repeat="feedback in feedbacks.currentPage | filter:query track by feedback.id">
                <td>{{feedback.raiting}}</td>
                <td>{{feedback.comment}}</td>
                <td>{{feedback.author}}</td>
                <td>
                    <a class="btn btn-sm btn-default" ng-click="feedbacks.openEdituibModal(feedback)">
                    <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class = "btn btn-sm btn-danger"    
                    ng-click="feedbacks.deleteFeedback(feedbacks.id)">
                     <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
    </tbody>
</table>
</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul uib-pagination="" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="feedbacks.pageChanged()"></ul>
    </div>
</div>
