<table class="table table-hover">
  <caption>All events</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Description</th>
      <th>Participants</th>
      <th>edit</th>
      <th>remove</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in events.events | filter:query track by event.id">
      <td>{{event.name}}</td>
      <td>{{event.place.name}}</td>
      <td>{{event.description}}</td>
      <td>
        <ul>
          <li ng-repeat="participant in event.participants track by participant.id">
            {{participant.name}}
          </li>
        </ul>
      </td>
      <td>
        <button ng-click="events.openModalForm(event)"
                class="btn btn-default">Edit</button>
      </td>
      <td>
        <button ng-click="events.remove(event)"
                class="btn btn-sm btn-danger">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <a ng-click="events.openModalForm()"
       class="btn btn-info">Add event</a>
  </tfoot>
</table>