<div class="modal-body">
    <form action="" class="form-horizontal row">
        <div class="form-group col-sm-10"
             ng-repeat="category in $ctrl.categoriesList track by category.id">
            <label for="edit" class="col-sm-2 control-label">{{category.name}}</label>
            <div class="col-sm-10">
                <input id="edit"
                       ng-model="category.name"
                       type="text" class="form-control">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="modal-footer">
                        <button ng-click="$ctrl.save(category)"
                                type="submit" class="btn btn-default">Save
                        </button>
                        <button ng-click="$ctrl.destroy(category.id)"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-warning"
            type="submit"
            ng-click="$ctrl.ok()">Save all changes</button>
</div>
