div.caregoryEdit {
	margin-right: 5px;
	margin-top: 5px;
}

form.searchCategory {
	margin-left: 33px;
}
ul.submenu {
	margin-left: 310px;
}

.navbar-nav > li > a.category:hover, 
.navbar-nav > li > a.category:active {
	color: #fff;
}

form.searchCategory {
	position: relative;
}

form.searchCategory span.glyphicon-search {
    position: absolute;
    font-size: 20px;
    color: #ccc;
    right: 15px;
    padding: 6px;
    border-left: 1px solid #ccc;
}

div.tableAll {
	margin-top: 50px;
	position: relative;
}
.addForm p.error {
	color: red;
}

div.tableAll button.add.btn.btn-default {
    position: absolute;
    top: 30px;
    right: 15px;
}