<div class="nav">
    <button class="btn btn-primary btn-lg" ng-click="categories.showAll()">All events</button>
    <button class="btn btn-primary btn-lg" ng-repeat="category in categories.categories" ng-click="categories.sayHi()">{{category.name}}</button>
    <button title="two clicks" class="btn btn-default btn-lg" ng-click="categories.getCategories()">Show categories</button>
</div>

<button class="btn btn-info">add Event</button>
<button class="btn btn-info" ><a href="#/places">All places</a></button>
<button class="btn btn-info"><a href="#/participants">All participants</a></button>
<button class="btn btn-info"><a href="#/feedbacks">Feedbacks</a></button>
