<div class="nav">
    <button class="btn btn-primary btn-lg"
            ng-click="">All</button>
    <button class="btn btn-primary btn-lg"
            ng-repeat="category in categories.categoriesList track by category.id"
            ng-click="categories.filterEvents(category.name)">{{category.name}}</button>
    <button class="btn btn-default btn-lg"
            ng-click="categories.openCreationForm()">+</button>
    <button ng-click="categories.openEditionForm()"
            class="btn btn-default btn-lg">Edit</button>
</div>

<div class="nav col-sm-10">
    <a class="btn btn-info" ui-sref=".places">All places</a>
    <a class="btn btn-info" ui-sref="participants">All participants</a>
    <a class="btn btn-info" ui-sref="feedbacks">Feedbacks</a>
    <a class="btn btn-info" ui-sref="events">Events</a>
</div>
<div ui-view></div>
