<table class="table table-hover">
    <tbody>
        <caption>Feedbacks</caption>
            <tr>
                <th>Raiting</th>
                <th>Comment</th>
                <th>Author</th>
                <th>edit</th>
                <th>del</th>
            </tr>
            <tr class="active" ng-repeat="feedback in feedbacks.feedbacks | filter:multiSearch track by feedback.id">
                <td>{{feedback.raiting}}</td>
                <td>{{feedback.comment}}</td>
                <td>{{feedback.author}}</td>
                <td>
                    <button class="btn btn-default" ng-click="feedbacks.openEdituibModal(feedback)">Edit </button>
                </td>

                <td>
                    <button type="button" class="close"
                    ng-click="feedbacks.deleteFeedback(feedbacks.id)"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
    </tbody>
</table>
<button class="btn btn-default" ng-click="feedbacks.openAdduibModal()">Add </button>
